[Unit]
Description=Login Manager on %I
After=systemd-user-sessions.service getty-pre.target
Before=getty.target
Conflicts=rescue.service
Before=rescue.service
IgnoreOnIsolate=yes

[Service]
Type=simple

ExecStart=/usr/local/bin/labrador-greeter

StandardInput=tty
StandardOutput=tty
StandardError=tty

TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

UtmpIdentifier=%I

Restart=always
RestartSec=0

TTYVHangup=yes
SendSIGHUP=yes

UnsetEnvironment=LANG
UnsetEnvironment=LANGUAGE
UnsetEnvironment=LC_CTYPE
UnsetEnvironment=LC_NUMERIC
UnsetEnvironment=LC_TIME
UnsetEnvironment=LC_COLLATE
UnsetEnvironment=LC_MONETARY
UnsetEnvironment=LC_MESSAGES
UnsetEnvironment=LC_PAPER
UnsetEnvironment=LC_NAME
UnsetEnvironment=LC_ADDRESS
UnsetEnvironment=LC_TELEPHONE
UnsetEnvironment=LC_MEASUREMENT
UnsetEnvironment=LC_IDENTIFICATION

[Install]
WantedBy=getty.target